;; configuration maps for integrant
{:bakuchi.service.logging/logger {}
 :bakuchi.service.trade/fsm      #ig/ref :bakuchi.service.logging/logger
 :bakuchi.service.trade/bot      #ig/ref :bakuchi.service.trade/fsm}
